{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
<!--    <input type="text" name="fullname" placeholder="student fullname"></input>-->
<!--    <input type="email" name="email" placeholder="student email"></input>-->
<!--    <input type="password" name="password" placeholder="student password"></input>-->
<!--    <input type="text" name="contactnumber" placeholder="student number"></input>-->
<!--    <input type="text" name="usercollegename" placeholder="student collegename"></input>-->

    {{ user_form }}
    {{ profile_form }}


    <input type="submit" value="register">

</form>
{% endblock %}